.image-upload>input {
            display: none;
        }

        label img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #previewImg {
            display: inline-block;
            /* max-height: 100%; */
            max-width: 100%;
        }

body {
    
    font-family: sans-serif;
    background-color: lightblue;
 
}
.wrapper {
     background-image: url("/home/vigneshwar/Desktop/Mirada/half.jpg");
    padding: 30px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 100px;
    color: black;
    
}
h1,h3 {
    text-align: center;
}
.image-upload{
    margin-left: 370px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 200px;
    margin-top: 90px;
}

#butt {
        margin-left: 290px;
    padding-bottom: 30px;
}
.t{
    margin-left: 50px;
    font-size: 30px;
}
#previewImg {

            display: inline-block;
            /* max-height: 100%; */
            max-width: 100%;
}
.dabba>input {
                display: none;
            }


